/* the layout of the webpage is mobile first, I have added media queries for the layout to change when screen size is increased */

* {
  margin: 0;
}

/* giving the body default styles */

body {
  color: #fff;
  font-size: 1em;
  line-height: 1.5;
  font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,"AppleGothic",sans-serif;
  background: #333;
  color: #fff;
}

html, body {
  height: 100%;
}

/* no decoration for links */

a {
  text-decoration: none;
}

/* giving headers and paragraphs and images styles */

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


/* styles for navbar2 starts here */

nav {
  height: 40px;
  width: 100%;
  font-size: 11pt;
  font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,"AppleGothic",sans-serif;
  font-weight: bold;
  position: fixed;
  border-radius: 5px;
  z-index: 1;
  background-color: black;
  z-index: 99;
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0 auto;
  width: 600px;
  height: 40px;
}

nav li {
  display: inline;
  float: left;
}

nav a {
  display: inline-block;
  width: 150px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  line-height: 40px;
}

nav li a {
  border-right: 1px solid #576979;
  box-sizing: border-box;
}

nav li:last-child a {
  border-right: 0;
}

nav a:hover, .navbar2 a:active {
  background-color: #D4D0D0;
  color: black;
}

/* navbar2 is not displayed as the layout is mobile first */

.nav-bar2 {
  display: none;
}

/* this the styling of the back to top button which will be placed bottom right corner of the page */

.to-top {
  bottom: 0;
  right: 0;
  background-color: white;
  position: fixed;
  border-radius: 5px;
  z-index: 999;
  margin-right: 5px;
  margin-bottom: 5px;
}

.to-top img:hover, .toTop img:active {
  background-color: #E8E9EA;
}

.to-top img {
  max-height: 32px;
  max-width: 32px;
}

/* styling for navbar1 */

.nav-bar1 {
  font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,"AppleGothic",sans-serif;
  position: fixed;
  width: 100%;
  background-color: black;
  height: 40px;
  z-index: 10;
}

.nav-bar1-button {
  padding: 12px;
  cursor: pointer;
  background: url('../img/nav-icon.png') no-repeat;
  margin-left: 10px;
  margin-top: 10px;
}

.nav-bar1-menu {
  position: absolute;
  display: inline-block;
}

/* This is the dropdown content styles it is hidden by default */

.nav-bar1-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-left: 10px;
}

/* this is the content inside the dropdown menu */

.nav-bar1-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* this changes the color of links in the menu when hovered */

.nav-bar1-content a:hover {
  background-color: #f1f1f1;
}

/* this shows the dropdown menu */

.show {
  display: block;
}


/* slideshow styling and keyframes starts here */
/* I used layers to create the slideshows and keyframes and opacity to help me have a smooth slideshow */

@keyframes layer2Anim {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes layer3Anim {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes layer4Anim {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes layer5Anim {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


/* slide show class*/
/* I have given it a height and a z index of 1 */

.slideShow {
  position: relative;
  height: 600px;
  z-index: 0;
}

/* styles for the layers */

.layer1, .layer2, .layer3, .layer4, .layer5 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* layers displaying images */

.layer1 {
  background-image: url("../img/background4.jpeg");
}

.layer2 {
  background-image: url("../img/background9.jpeg");
  animation: layer2Anim 45s infinite;
}

.layer3 {
  background-image: url("../img/background2.jpeg");
  animation: layer3Anim 45s infinite;
}

.layer4 {
  background-image: url("../img/background11.jpeg");
  animation: layer4Anim 45s infinite;
}

.layer5 {
  background-image: url("../img/background8.jpeg");
  animation: layer5Anim 45s infinite;
}

/* content of the showcase is displayed, I have given it a z-index of 2 so it displays over the slideshow */

#showcase {
  position: relative;
  min-height: 500px;
  color: #fff;
  text-align: center;
  font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,"AppleGothic",sans-serif;
  font-size: 1rem;
  z-index: 2;
  padding-top: 2em;
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

/* styles for the buttons */
/* i've added a transition effect to the buttons */

.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: .5em 0;
  margin-top: 50px;
  font-weight: 600;
  transition: background 0.3s linear 0s, color 0.3s linear 0s;
  max-width: 400px;
}

.btn:hover {
  background-color: #eaeaea;
  color: #333;
}

/* styles for content wrap, main section, main content class, and section a, b, c, d */

.content-wrap {
  padding: 0 1.5em;
}

#main {
  color: #fff;
  text-align: center;
}

/* home page styles */

#home-section-a {
  background: #eaeaea;
  color: #333;
  padding-bottom: 2em;
  padding-top: 40px;
}

/* styles for about page */
/* padding, text alignment and backgound color etc. */

#about-section-a {
  background: #eaeaea;
  color: #333;
  padding-bottom: 2em;
  padding-top: 40px;
}

#about-section-b {
  padding: 1em 1em 1em;
  text-align: center;
  padding-top: 40px;
}

#about-section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#about-section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

/* style for button in about section */
/* I gave this button seperate styles as I wanted the style for this button to be a bit different to the other buttons */

#about-section-b .btn {
  display: inline-block;
  background: #eaeaea;
  color: #333;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: .5em 0;
  margin-top: 50px;
  font-weight: 600;
}

#about-section-b .btn:hover {
  background-color: #333;
  color: #fff;
}

/* courses section given styles */
/* given color, padding and text alignment to make text center of page */

#courses-section-a {
  padding: 1em 1em 1em;
  text-align: center;
  color: black;
  padding-top: 40px;
}

/* courses section does not need padding when being accessed from mobile phone */
/* but will need padding when screen is larger */

#courses-section-a .content-wrap {
  padding: 0 0;
}

/* flexbox is used in the course page */

.courses {
	margin: 10px;
	font-size: 1em;
	display: -ms-flexbox;
	flex-flow: row wrap;
	display: -webkit-box;
	display: flex;
}

/* giving the divs in the courses class a width and margin */

.courses div {
	-webkit-box-flex: auto;
	flex: auto;
	width: 100%;
	margin: 5px;
}

.courses div p {
	width: 100%;
	height: auto;
}

.courses div img {
	width: 100%;
	height: auto;
}

.courses-text {
	background-color: #eaeaea;
	padding: 20px;
	padding-top: 50px;
}

.container {
	padding: 10px;
	background-color: #eaeaea;
}

/* giving contact section background and color styles */

#contact-section-a .box:first-child {
  background: #eaeaea;
  color: black;
}

/* card content and box classes given styles */

.card-content {
  padding: 1.5em;
}

.box {
  padding: 2em;
  color: #fff;
}


/* styling for footer */

#main-footer {
  padding: 2em;
  background: #000;
  color: #fff;
  text-align: center;
}

#main-footer a {
  color: #2690d4;
  text-decoration: none;
}

/* submit button styling in the contact form */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,"AppleGothic",sans-serif;
  width: 100%;
  margin: 0 auto;
  height: 38px;
  position: relative;
  margin: 0 0 0 0;
  margin-top: 15px;
  color: black;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 0px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 6px solid #333;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: white;
  background: #333;
  outline: 0;
  border: 6px solid #eaeaea;
}

/* input field styling in the contact form */

input[type="email"],
input[type="number"],
input[type="text"],
input[type="tel"],
textarea,
select {
  font-family: "sofia-pro", sans-serif;
  height: 38px;
  width: 100%;
  padding: 6px 10px 6px 10px;
  border: 1px solid;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  margin-top: 5px;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100%;
}

/* contact form styling */

.con-form {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

/* giving google maps a height and width */

#my-map {
  height: 300px;
  width: 100%;
}

/* modal styling starts here */
/* I have given it a display of none so it is hidden until the button is clicked */
/* I have used some javascript to help me achieve this */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

/* animation is used for when the button is clicked and modal is displayed */

.modal-content {
  background-color: #eaeaea;
  margin: 10% auto;
  width: 90%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 5px 7px 0 rgba(0,0,0,0.17);
  animation-name: modalopen;
  animation-duration: 2s;
}

/* keyframes for the modal animation */

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* styles for the modal header */

.modal-header {
  background: #333;
  color: white;
  padding: 15px;
}

/* styles for the close button */

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
}

.close:hover,.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* hide textarea in modal */
.modal-textarea {
  display: none;
}

.modal-body {
  padding: 20px;
}

/* styles for the buttons in modal */
.modal-btn {
  display: block;
  background: #333;
  color: white;
  text-decoration: none;
  border: 1px solid #666;
  margin: auto;
  font-weight: 600;
  transition: background 0.3s linear 0s, color 0.3s linear 0s;
  width: 40%;
  margin-top: 10px;
}

.modal-btn:hover {
  background-color: #eaeaea;
  color: #333;
}

#contact-section-b {
  color: black;
  padding-top: 40px;
  background-color: #eaeaea;
  padding: 1em 1em 1em;
}

.countdown {
  text-align: center;
  background: #ddd;
  border: 1px solid #999;
  padding: 10px;
  box-shadow: 0 0 5px 3px #ccc;
}

.info {
  font-size: 20px;
}

table {
  margin: auto;
}

#contact-section-b .content-wrap {
  padding: 0 0;
}

/* media query to change layout of webpage when accessed from a device which has a screen size with a width of at least 750px*/
/* this layout is for devices such as ipads, tablets, laptops, and computers */

@media(min-width: 750px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  .content-wrap {
    grid-column: 1/5;
  }

  .box, #main-footer div {
    grid-column: span 2;
  }

  #about-section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #about-section-b li {
    width: 31%;
  }
  
  #courses-section-a ul {
    display: flex;
    justify-content: space-around;
  }

  #courses-section-a li {
    width: 31%;
  }

  .content-wrap {
    padding-left: 5em;
    padding-right: 5em;
  }

  .nav-bar1 {
    display: none;
  }
  
  .nav-bar2{
	  display: block;
  }
  
  /* giving padding to the left and right when screen size is increased to atleast 750px */
  
  #home-section-a {
	padding-left: 2em;
	padding-right: 2em;
  }
  
  .info {
    font-size: 50px;
  }
  
  /* change width of modal content when screensize increases */
  .modal-content {
    width: 50%;
  }
}

@media(min-width: 950px) {
  .courses div {
	width: 40%;
  }
 
  #courses-section-a .content-wrap {
   padding: 2em;
  }
}

/* media query to change content wrap and adjust padding to the left and right when device screen size is between 749 and 1299 px */

@media screen and (max-width: 1299px) and (min-width: 749px) {

  .content-wrap {
    padding-left: 1em;
    padding-right: 1em;
  }
}

/* media query for contact form to change width of form when screen size is at least 1300 px*/
/* for devices such as large screen laptop and PCs */

@media screen and (min-width: 1300px) {
  .con-form {
    width: 80%;
  }
}