* {
	margin:0;
}


html, body {
	height: 100%;
}


html {
	overflow-y: scroll;
}

body {
  height: 100%;
  background-color: #C5C4C3;
}

a {
    text-decoration: none;    
}




.navBar1 {
	font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,"AppleGothic",sans-serif;
	width: 100%;
	background-color: #7F7F7F;
	height: 70px;
	line-height: 70px;
}





/* Dropdown Button */
.dropbtn {
    padding: 12px;
    cursor: pointer;
	background: url('../img/nav-icon.png') no-repeat;
	margin-left:10px;
	margin-top: 10px;
}



/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-left:10px;

	}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.nav2 {
	border-bottom: 1px solid grey;
	text-align: center;
	height: 70px;
	line-height: 70px;
	background-color: #7F7F7F;
}


.menu2 {
	margin: 0 30px 0 0;
	width: 100%;
}

.menu2 a {
	text-decoration: none;
	color: white;
	margin: 0 30px;
	line-height: 70px;
	text-align: center;
	width: 100%;
	display: inline;
	font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,"AppleGothic",sans-serif;
}

.menu2 a:hover {
	color: #D6D3D3;
}

@media only screen and (min-width : 900px) {

	.navBar1 {
		display: none;
	}
}

@media only screen and (max-width : 899px) {

	.nav2 {
		display: none;
	}
}